<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>

</head>
<body>
<input type="button" id="getQrUrl" value="获取二维码"/>
<div id="qrcode">

</div>

<script th:src="@{/static/common/jquery-3.4.1.min.js}"></script>
<script th:src="@{/static/common/qrcode.min.js}"></script>
<script type="text/javascript">
    $(function(){
       $("#getQrUrl").click(function(){
           $.ajax({
               type: 'get',
               url: "/rainbow/getQrUlr",
               async: false, // 同步
               success: function (result) {
                   new QRCode(document.getElementById("qrcode"), result);
               }
           });

       });
    });


</script>

</body>
</html>